body{background-color: #ccc;}
.main, .conversor fieldset{
  display: block;
  position: relative;
  margin: 0 auto;
}
.main {
  padding: 10px;
  width: 1200px;
  min-height: 600px;
  background-color: #fff;  
}

.App-logo {
  height: 100px;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #808080;
  height: 100px;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.conversor fieldset{
  width: 400px;
  text-align: center;
}
.conversor h1{
  color: #606060;
}